@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap');


@media screen and ( min-width : 800px ) 
{

    
    
   
        body{
            background-image: url("https://scontent.fyyc2-1.fna.fbcdn.net/v/t1.6435-9/33740364_1625057604226355_7313402833397612544_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=JNkRSysvE0gAX-7O2Xw&tn=VpWl4tpBiIG9kLQ8&_nc_ht=scontent.fyyc2-1.fna&oh=00_AfB7XPuLlrtnRzfcUn_R8cPao2uuRUw5-xCYK8BbZk06cw&oe=640D13D2");
        
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            font-family: 'Roboto', sans-serif;
        }
        .container{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(9,1fr);
            grid-template-rows: .07fr repeat(6,1fr);
            
            
        }
       
        .container > img{
        
            object-fit: cover;
            width: 100%;
        }
        
        
        .box1{
            display: grid;
            grid-column-start: 1;
            grid-column-end: 10;
            grid-row-start: 0;
            grid-row-end: 2;
            
            background-color: azure;
        }
        
        #bb{
            display: block;
            text-align: right;
            padding-right: 2%;
        }
        #aa{
            float: left;
            padding-left: 2%;
        }
        .box2{
            display: grid;
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 3;
            align-items: center;
            justify-content: center;
            
        }
        #Welcome{
            
            padding-top: 5%;
            text-align: center;
            font-size: 30px;
        
        }
        .box3{
            display: grid;
            grid-column-start: 2;
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 5;
            justify-content: center;
        }
        .box3 >img{
            object-fit: cover;
            width: 100%;
        }
        
        
        .box4{
            display: grid;
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 5;
            grid-row-end: 6;
            justify-content: center;
        }
        .box4 > aside >img{
            object-fit: cover;
            width: 100%;
        }
        
        
        
        .box5{
            display: grid;
            grid-column-start: 6;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 6;
            justify-content: center;
        }
        .box5 >img{
            object-fit: cover;
            width: 100%;
        }
    
    /*Contact*/
    .links{
       
        background-color: azure;
        margin-top: 0.8%;
       
    }
    #b{
        display: block;
        text-align: right;
        padding-right: 2%;
    }
    #a{
        float: left;
        padding-left: 2%;
    }
    #contents{
        text-align: center;
    }
    img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    /*about*/
    h2{
        font-size: x-large;
        text-align: center;
    }
    .listings{
        color: greenyellow;
    }
    h1{
        font-size: x-large;
        text-align: center;
    }
    .TayTay > img{
        display: block;
        height: 80%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    
    }
    

}
/*screen width les than 800px*/
@media screen and ( max-width : 800px ) {
    body{
        background-image: url("https://scontent.fyyc2-1.fna.fbcdn.net/v/t1.6435-9/33740364_1625057604226355_7313402833397612544_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=JNkRSysvE0gAX-7O2Xw&tn=VpWl4tpBiIG9kLQ8&_nc_ht=scontent.fyyc2-1.fna&oh=00_AfB7XPuLlrtnRzfcUn_R8cPao2uuRUw5-xCYK8BbZk06cw&oe=640D13D2");
    
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    .container{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: .07fr repeat(6,1fr);
        
        
    }
    .container > div{
        border: 3px solid black;
        
    }
    
    .container > img{
    
        object-fit: cover;
        width: 100%;
    }
    
    
    .box1{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        align-items: center;
        background-color: azure;
    }
    
    #bb{
        display: block;
        text-align: right;
        padding-right: 2%;
    }
    #aa{
        float: left;
        padding-left: 2%;
    }
    .box2{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        align-items: center;
        justify-content: center;
        
    }
    #Welcome{
        
        padding-top: 5%;
        text-align: center;
        font-size: 30px;
    
    }
    .box3{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: center;
    }
    .box3 >img{
        object-fit: cover;
        width: 100%;
    }
    
    
    .box4{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-content: center;
    }
    .box4 > aside >img{
        object-fit: cover;
        width: 100%;
    }
    
    
    
    .box5{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7;
        justify-content: center;
    }
    .box5 >img{
        object-fit: cover;
        width: 100%;
    }
    /*Contact*/
    .links{
       
        background-color: azure;
        margin-top: 0.8%;
       
    }
    #b{
        display: block;
        text-align: right;
        padding-right: 2%;
    }
    #a{
        float: left;
        padding-left: 2%;
    }
    #contents{
        text-align: center;
    }
    img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 80%;
        width: 80%;
    }
    /*about*/
    h2{
        font-size: x-large;
        text-align: center;
    }
    .listings{
        color: greenyellow;
    }
    h1{
        font-size: x-large;
        text-align: center;
    }
    
    

}

 






   




    


