#Purpose
{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
#Contact
{
    display: grid;
    grid-column-start: 9;
     grid-column-end: 10;
    text-align: right;
     
}
#Welcome{
    
    padding-top: 5%;
    text-align: center;
    font-size: 30px;
}
body{
    background-image: url("https://scontent.fyyc2-1.fna.fbcdn.net/v/t1.6435-9/33740364_1625057604226355_7313402833397612544_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=JNkRSysvE0gAX-7O2Xw&tn=VpWl4tpBiIG9kLQ8&_nc_ht=scontent.fyyc2-1.fna&oh=00_AfB7XPuLlrtnRzfcUn_R8cPao2uuRUw5-xCYK8BbZk06cw&oe=640D13D2");

    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.container
{
    
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows:  repeat(16, 1fr);
    
    
}



.box1
{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    background-color: azure;
   
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
   
    
   
    
   
}
#aa{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    padding-left: 2%;
}
#bb{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    padding-left: 80%;
}
.box2{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
    
    
}
.box3{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 10;
    
}
.box3 > img{
    
    
    object-fit: cover;
    width: 100%;
    
    
}
.box4{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 15;
    justify-content: left;
    
   
}
.box4 > img{
   
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}


.box5{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 15;
}
.box5 > img{
    
    
    object-fit: cover;
    width: 100%;
    
    
}
/*contact*/
.links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
   
   
    background-color: azure;
   
  
    
}
#b{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    padding-left: 90%;
    
}
#a{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    padding-left: 2%;
    
}
 

#contacts
{
    text-align: center;
    font-size: x-large;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contactintro{
    text-align: center;
    font-size: 20px;
}
/*About*/
.TayTay > img{
    display: block;
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.links2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
   
   
    background-color: azure;
    
}
#c{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    padding-left: 80%;
    
}
#d{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    padding-left: 2%;
    
}
h2{
    font-size: x-large;
    text-align: center;
}
.listings{
    color: greenyellow;
}
h1{
    font-size: x-large;
    text-align: center;
}
@media screen and ( max-width : 800px ) {
    body{
        background-image: url("https://scontent.fyyc2-1.fna.fbcdn.net/v/t1.6435-9/33740364_1625057604226355_7313402833397612544_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=JNkRSysvE0gAX-7O2Xw&tn=VpWl4tpBiIG9kLQ8&_nc_ht=scontent.fyyc2-1.fna&oh=00_AfB7XPuLlrtnRzfcUn_R8cPao2uuRUw5-xCYK8BbZk06cw&oe=640D13D2");
    
        background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
    }
    .container
    {
        
        display: grid;
    
        grid-template-columns: 6fr;
        grid-template-rows: repeat(14,1fr);
    
        
        
        
    }

    #Welcome{
        
        padding-top: 5%;
        text-align: center;
        font-size: 20px;
    }
    .box1
    {
        display: grid;
        
        background-color: azure;
    
        
        
    }
    #aa{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        padding-left: 2%;
    }
    #bb{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        padding-left: 50%;
    }
    .box2{
        display: grid;
       
        grid-row-start: 2;
        grid-row-end: 3;
        
        
    }
    .box3{
        display: grid;
        
        grid-row-start: 3;
        grid-row-end: 7;
        
    }


    .box4{
        display: grid;
        
        grid-column-start:1 ;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 8;
        width: 80%;
        padding-left: 10%;;
        
        
    
    }
    .box5 > img{
        
        
        object-fit: cover;
        
        
        
    }


    .box5{
        display: grid;
        
        grid-row-start: 9;
        grid-row-end: 12;
        grid-column-start:1 ;
        justify-content: center;
    }


    .box5 > img{
        
        
        object-fit: cover;
        width: 100%;
        
        
    }
    /*contact*/
    .links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(7,1fr);
    
    
        background-color: azure;
    
    
        
    }
    #b{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        padding-left: 70%;
        
    }
    #a{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        padding-left: 2%;
        
    }
    

    #contacts
    {
        text-align: center;
        font-size: x-large;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #contactintro{
        text-align: center;
        font-size: 20px;
    }

        /*About*/
    .TayTay > img{
        display: block;
        height: 70%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .links2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(7,1fr);
    
    
        background-color: azure;
        
    }
    #c{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        padding-left: 50%;
        
    }
    #d{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        padding-left: 2%;
        
    }
    h2{
        font-size: x-large;
        text-align: center;
    }
    .listings{
        color: greenyellow;
    }
    h1{
        font-size: x-large;
        text-align: center;
    }

}







